[submodule "src/rifs"]
	path = src/rifs
	url = git@github.com:rifs-is-free-speech/rifs.git
[submodule "src/rifsalignment"]
	path = src/rifsalignment
	url = git@github.com:rifs-is-free-speech/rifsalignment.git
[submodule "src/rifsstatemachine"]
	path = src/rifsstatemachine
	url = git@github.com:rifs-is-free-speech/rifsstatemachine.git
[submodule "src/rifsaugmentation"]
	path = src/rifsaugmentation
	url = git@github.com:rifs-is-free-speech/rifsaugmentation.git
[submodule "src/rifsdatasets"]
	path = src/rifsdatasets
	url = git@github.com:rifs-is-free-speech/rifsdatasets.git
[submodule "datasets/Den2Radio"]
	path = datasets/Den2Radio
	url = git@github.com:rifs-is-free-speech/Den2Radio.git
[submodule "datasets/LibriVoxDansk"]
	path = datasets/LibriVoxDansk
	url = git@github.com:rifs-is-free-speech/LibriVoxDansk.git
[submodule "assets/logo-fonts-colors"]
	path = assets/logo-fonts-colors
	url = git@github.com:rifs-is-free-speech/logo-fonts-colors.git
